body{background-color:darkkhaki;}

h1{background-color:peru; text-align: center;}

p{font-size: 20px;}

.espac1 li{margin: 19px;}

.borda1{width: 700px; border-radius: 20px;}

table,th,td{
    background-color:peru;
    border: 3px solid brown;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-style: oblique; 
    font-size: 20px;
    padding: 2px;
    text-align: center;
}

a{
    font-size: 25px;
    background-color:grey;
    color:brown;  
}

.cores1:hover{
    color: chartreuse;
}

#botao1{
    font-size: 22px;
    border: 2px solid black;
}